{% extends "layout/base.html" %}

{% block page_title %}
Ask a question
{% endblock %}

{% block page_content %}
    <h1 class="mb-3">New question</h1>

    <form class="w-75 needs-validation" novalidate>
        <div class="input-group mb-3 d-flex">
            <div class="input-group-text col-1">Title</div>
            <input type="text" class="form-control col-11" placeholder="Title" required>
            <div class="invalid-feedback">
                Enter a title.
            </div>
        </div>

        <div class="input-group mb-3 d-flex">
            <div class="input-group-text col-1">Text</div>
            <textarea type="text" class="form-control col-11" placeholder="Text" required></textarea>
            <div class="invalid-feedback">
                Enter a text.
            </div>
        </div>

        <div class="input-group mb-3 d-flex">
            <div class="input-group-text col-1">Tags</div>
            <input type="text" class="form-control col-11" placeholder="Tags">
        </div>

        <button class="btn btn-primary">Ask</button>
    </form>
{% endblock %}