{% extends "layout/base.html" %}

{% block page_title %}
Log in
{% endblock %}

{% block page_content %}
    <h1 class="mb-3">Log in</h1>

    <form class="w-75 needs-validation" novalidate>
        <div class="input-group mb-3 d-flex">
            <div class="input-group-text col-1">Login</div>
            <input type="text" class="form-control col-11" placeholder="Login" required>
            <div class="invalid-feedback">
                Enter a login.
            </div>
        </div>

        <div class="input-group mb-3 d-flex">
            <div class="input-group-text col-1">Password</div>
            <input type="text" class="form-control col-11" placeholder="Password" required>
            <div class="invalid-feedback">
                Enter a password.
            </div>
        </div>

        <button class="btn btn-primary">Log in</button>
    </form>
{% endblock %}