{% extends "layout/base.html" %}

{% block page_title %}
New questions
{% endblock %}

{% block page_content %}
    <div class="d-flex gap-3 align-items-center mb-3">
        <h1>My questions</h1>
        <a href="{% url 'index' %}">New questions</a>
        <a href="{% url 'hot' %}">Hot questions</a>
    </div>

    <section class="w-75 d-flex flex-column gap-3">
        {% for question in questions %}
            {% include "layout/question_card.html" %}
        {% endfor %}
    </section>

    {% include "layout/pagination.html" %}
{% endblock %}
