{% extends "layout/base.html" %}

{% block page_title %}
Sign up
{% endblock %}

{% block page_content %}
    <h1 class="mb-3">Registration</h1>

    <form class="w-75 needs-validation" novalidate>
        <div class="input-group mb-3 d-flex">
            <div class="input-group-text col-2">Login</div>
            <input type="text" class="form-control col-10" placeholder="Login" required>
            <div class="invalid-feedback">
                Enter a login.
            </div>
        </div>

        <div class="input-group mb-3 d-flex">
            <div class="input-group-text col-2">Email</div>
            <input type="text" class="form-control col-10" placeholder="Email" required>
            <div class="invalid-feedback">
                Enter an email.
            </div>
        </div>

        <div class="input-group mb-3 d-flex">
            <div class="input-group-text col-2">Nickname</div>
            <input type="text" class="form-control col-10" placeholder="Nickname" required>
            <div class="invalid-feedback">
                Enter a nickname.
            </div>
        </div>

        <div class="input-group mb-3 d-flex">
            <div class="input-group-text col-2">Password</div>
            <input type="text" class="form-control col-10" placeholder="Password" required>
            <div class="invalid-feedback">
                Enter a password.
            </div>
        </div>

        <div class="input-group mb-3 d-flex">
            <div class="input-group-text col-2">Repeat password</div>
            <input type="text" class="form-control col-10" placeholder="Password" required>
            <div class="invalid-feedback">
                Repeat a password.
            </div>
        </div>

        <div class="input-group mb-3 d-flex">
            <div class="input-group-text col-2">Avatar</div>
            <input type="file" class="form-control col-10" placeholder="Password" required>
            <div class="invalid-feedback">
                Upload an avatar.
            </div>
        </div>

        <button class="btn btn-primary">Log in</button>
    </form>
{% endblock %}