{% load static %}



<article class="border" id="answer_{{ answer.id }}">
    <div class="row m-3">
        <div class="col-3 d-flex flex-column gap-2 align-items-center">
            <img src="{% static 'img/Jacque_Fresco.jpg' %}" alt="Avatar" class="img-thumbnail" style="width: 100px;">

            <div class="d-flex gap-2 m-1">
                <i class="bi bi-hand-thumbs-up"></i>
                <button type="button" class="btn btn-outline-dark">
                    <img src="{% static 'img/hand-thumbs-up.svg' %}" alt="bi-hand-thumbs-up"> {{ answer.likes_count }}
                </button>
                <button type="button" class="btn btn-outline-dark">
                    <img src="{% static 'img/hand-thumbs-down.svg' %}" alt="bi-hand-thumbs-down"> {{ answer.dislikes_count }}
                </button>
            </div>
        </div>
        <div class="col-9 d-flex flex-column gap-2 justify-content-around">
            <div>
                {{ answer.text }}
            </div>

            {% if answer.is_correct %}
                <div>
                    <span>Correct</span>
                    <img src="{% static 'img/check.svg' %}" alt="Check" style="width: 30px;">
                </div>
            {% else %}
                <div></div>
            {% endif %}
        </div>
    </div>
</article>
