{% load static %}

<article class="border">
    <div class="row m-3">
        <div class="col-3 d-flex flex-column gap-2 align-items-center">
            {% if question.author.avatar %}
                <img src="{{ question.author.avatar.url }}" alt="Avatar" class="img-thumbnail" style="width: 100px;">
            {% else %}
                <img src="{% static 'img/default_avatar.jpg' %}" alt="Avatar" class="img-thumbnail" style="width: 100px;">
            {% endif %}

            <div class="d-flex gap-2 m-1">
                <form action="{% url 'like_question' question_id=question.id%}" method="POST">
                    {% csrf_token %}

                    <button type="submit" class="btn btn-outline-dark" value="Like">
                        <img src="{% static 'img/hand-thumbs-up.svg' %}" alt="bi-hand-thumbs-up"> {{ question.likes_count }}
                    </button>
                    
                    <button class="btn btn-outline-dark" value="Dislike">
                        <img src="{% static 'img/hand-thumbs-down.svg' %}" alt="bi-hand-thumbs-down"> {{ question.dislikes_count }}
                    </button>
                </form>
            </div>
        </div>
        <div class="col-9 d-flex flex-column gap-2 justify-content-around">
            <a href="{% url 'question' id=question.id %}">
                <h2>
                    {{ question.title }}
                </h2>
            </a>

            <div>
                {{ question.text }}
            </div>

            <div class="d-flex">
                <div class="me-3">Answers: {{ question.answers.all.count }}</div>

                <div class="d-flex gap-2">
                    <span>Tags:</span>
                    {% for tag in question.tags.all %}
                        <a href="{% url 'tag' tag_name=tag %}">{{ tag }}</a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</article>