<section class="col-3">
    <section>
        <h2>Popular tags</h2>
        <div>
            <a href="/tag/primary/" class="badge text-bg-primary">primary</a>
            <a href="/tag/secondary/" class="badge text-bg-secondary">secondary</a>
            <a href="/tag/success/" class="badge text-bg-success">success</a>
            <a href="/tag/danger/" class="badge text-bg-danger">danger</a>
            <a href="/tag/warning/" class="badge text-bg-warning">warning</a>
            <a href="/tag/info/" class="badge text-bg-info">info</a>
            <a href="/tag/light/" class="badge text-bg-light">light</a>
            <a href="/tag/dark/" class="badge text-bg-dark">dark</a>
        </div>
    </section>

    <section class="mt-3">
        <h2>Best members</h2>
        <div>
            <ul>
                <li><a href="">Member</a></li>
                <li><a href="">Member</a></li>
                <li><a href="">Member</a></li>
                <li><a href="">Member</a></li>
                <li><a href="">Member</a></li>
            </ul>
        </div>
    </section>
</section>