<section class="col-3">
    <section>
        <h2>Popular tags</h2>
        <div>
            {{tags.popular}}
            {% for tag in popular_tags %}
                <a href="{% url 'tag' tag_name=tag.name %}" class="badge text-bg-primary">{{ tag.name }}</a>
            {% endfor %}
        </div>
    </section>

    <section class="mt-3">
        <h2>Best members</h2>
        <div>
            <ul>
                <li><a href="">Member</a></li>
                <li><a href="">Member</a></li>
                <li><a href="">Member</a></li>
                <li><a href="">Member</a></li>
                <li><a href="">Member</a></li>
            </ul>
        </div>
    </section>
</section>